.card-products .card {
  padding: 1px;
  height: 260px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10x;
  background-image: var(--card-background);
  border: 1px solid #a5a5a581;
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}
.card-products .card:hover{
  border: 1px solid var(--font-color);
}

.card-products .card .box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  border-radius: 8px;
  overflow: hidden;
}

.card-products .card .box-img img {
  transition: 0.3s;
  border-radius: 8px;
}
.card-products .card .box-img img:hover{
  transform: scale(1.1);
}
.card-products .card .Info-card {
  text-transform: capitalize;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 7px;
  width: 230px;
  height: 130px;
}

.card-products .card .Info-card > p {
  font-size: 13px;
  line-height: 1.2;
  color: var(--seconde-font-color);
}
.card-products .card .Info-card .link {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.card-products .card .Info-card .link  .more{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:3px;

}
.card-products .card .Info-card .link  a{
  font-size: 20px;
}
.card-products .card .Info-card .link  a,
.card-products .card .Info-card .link  .more{
  color: var(--font-color);
  margin-right: 10px;
  cursor: pointer;

}
.card-products .card .Info-card .link  a:hover,
.card-products .card .Info-card .link  .more:hover
{
  color: #1237af;
}

