.contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-container .contact-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.contact-container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.contact-container form {
  padding: 10px;
  display: flex;
  border-radius: 10px;
  width: 400px;
  flex-direction: column;
  gap: 20px;
  /* position: relative; */
}
@media (max-width: 767px) {
  .contact-container form {
    width: 350px;
  }
}

.contact-container form .row-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-container form .row-input label {
  text-shadow: var(--text-shadow);
}
.contact-container form .row-input input,
.contact-container form .row-input textarea {
  background-color: var(--seconder);
  border-radius: 10px;
  padding: 0 10px;
  color: var(--font-color);
  width: 250px;
  outline: none;
  border: 1px solid #ad06065e;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}
.contact-container form .row-input input:focus,
.contact-container form .row-input textarea:focus {
  border: 1px solid var(--red-color);
}

@media (max-width: 767px) {
  .contact-container form .row-input input,
  .contact-container form .row-input textarea {
    width: 200px;
  }
}

.contact-container form .row-input input {
  height: 30px;
}
.contact-container form .row-input textarea {
  height: 200px;
  resize: none;
  padding: 10px;
}
.contact-container form .submitBtn {
  background-color: transparent;
  margin: 0 auto;
  border: none;
}
.whatsapp-icon {
  position: absolute;
  bottom: 90px;
  left: 40px;
  font-size: 35px;
  color: var(--red-color);
  animation: float 2s ease-in-out infinite; /* إضافة الحركة */
  /* box-shadow: 0 0 10px 0 var(--red-color); */
}

.whatsapp-icon svg {
  filter: drop-shadow(10px 30px 5px var(--red-color));
  animation: shadow 2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes shadow {
  0%,
  100% {
    filter: drop-shadow(0px 0px 0px var(--red-color));
  }
  50% {
    filter: drop-shadow(0px 0px 10px var(--red-color));
  }
}
.label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error-msg {
  color: #ad0606b9;
  font-size: 12px;
  margin-top: 5px;
}
