.contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-container .contact-body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.contact-container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.contact-container form {
  padding: 10px;
  display: flex;
  border-radius: 10px;
  width: 400px;
  flex-direction: column;
  gap: 20px;
}
@media(max-width:767px){
  .contact-container form {
    width: 350px;
  }
}

.contact-container form .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-container form .row label{
  text-shadow: var(--text-shadow);
}
.contact-container form .row input,
.contact-container form .row textarea {
  background-color: var(--seconder);
  border-radius: 10px;
  padding: 0 10px;
  color: var(--font-color);
  width: 250px;
  outline: none;
  border: 1px solid #ad06065e;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}
.contact-container form .row input:focus,
.contact-container form .row textarea:focus {
  border: 1px solid var(--red-color)
}

@media(max-width:767px){
.contact-container form .row input,
.contact-container form .row textarea {
  width: 200px;
}
}

.contact-container form .row input {
  height: 30px;
}
.contact-container form .row textarea {
  height: 200px;
  resize: none;
  padding: 10px;
}
.contact-container form  .submitBtn{
  background-color: transparent;
  margin: 0 auto;
  border: none;
}
