.sidebar-container{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%,-50%);
  z-index: 1000;
}

@media(max-width:767px){
  .sidebar-container{
    position: absolute;
    top: 95%;
    right: auto;
    left: 50%;
}
}


.sidebar-container ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* border: 1px solid #80808080; */
  border-radius: 25px;
  padding: 2px;
  box-shadow: var(--box-shadow);
}

@media(max-width:767px){
.sidebar-container ul {
  flex-direction: row;
}
}
.linkPage,
.sidebar-container ul li .active{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: var(--icon-size);
  transition: 0.5s;
  font-weight: bold;
  font-variant-alternates: normal;
}

.linkPage{
  color: var(--font-color);
}
.linkPage:hover,
.active{
  color: var(--font-color);
  box-shadow: 0  0 2px 0 #646363;
  transition: 0.5s;
  background-color: var(--background-icon);
}
