.App {
  height: 100dvh;
  width: 100%;
  background-color: var(--seconder);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  position: relative;
  height: 96dvh;
  width: 96%;
  background: var(--main);
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

@media (max-width: 779px) {
  .main-container {
    height: 99dvh;
    width: 98%;
  }
}
